[defaults]
inventory = ./inventories/production/hosts.yml,./scripts/proxmox_inventory.py
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
remote_user = ansible
private_key_file = ~/.ssh/ansible
host_key_checking = False
interpreter_python = auto_silent
vault_password_file = ~/.ansible/.vault_pass.txt
remote_tmp = /tmp/.ansible/tmp
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
retry_files_enabled = False
deprecation_warnings = True
nocows = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
ssh_args = -o ForwardAgent=no -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
