[server]
http_addr = {{ grafana_http_addr }}
http_port = {{ grafana_http_port }}
domain = {{ monitoring_domain }}

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}

[database]
type = {{ grafana_database_type }}
host = {{ grafana_database_host }}
name = {{ grafana_database_name }}
user = {{ grafana_database_user }}
password = {{ grafana_database_password }}
