[server]
hostname = {{ mktxp_listen_host }}
port = {{ mktxp_listen_port }}

[default]
enabled = True
module_only = False
hostname = 127.0.0.1
port = {{ mktxp_router_port }}
username = {{ mktxp_router_username }}
password = {{ mktxp_router_password }}
credentials_file = ""

use_ssl = {{ mktxp_use_ssl }}
no_ssl_certificate = {{ mktxp_no_ssl_certificate }}
ssl_certificate_verify = {{ mktxp_ssl_certificate_verify }}
ssl_check_hostname = {{ mktxp_ssl_check_hostname }}
ssl_ca_file = ""
plaintext_login = {{ mktxp_plaintext_login }}

health = {{ mktxp_metrics.health }}
installed_packages = {{ mktxp_metrics.installed_packages }}
dhcp = {{ mktxp_metrics.dhcp }}
dhcp_lease = {{ mktxp_metrics.dhcp_lease }}
connections = {{ mktxp_metrics.connections }}
connection_stats = {{ mktxp_metrics.connection_stats }}
interface = {{ mktxp_metrics.interface }}
wireguard_peers = {{ mktxp_metrics.wireguard_peers }}
bridge_vlan = {{ mktxp_metrics.bridge_vlan }}
route = {{ mktxp_metrics.route }}
pool = {{ mktxp_metrics.pool }}
firewall = {{ mktxp_metrics.firewall }}
neighbor = {{ mktxp_metrics.neighbor }}
address_list = None
dns = {{ mktxp_metrics.dns }}
ipv6_route = {{ mktxp_metrics.ipv6_route }}
ipv6_pool = {{ mktxp_metrics.ipv6_pool }}
ipv6_firewall = {{ mktxp_metrics.ipv6_firewall }}
ipv6_neighbor = {{ mktxp_metrics.ipv6_neighbor }}
ipv6_address_list = None
poe = {{ mktxp_metrics.poe }}
monitor = {{ mktxp_metrics.monitor }}
netwatch = {{ mktxp_metrics.netwatch }}
public_ip = {{ mktxp_metrics.public_ip }}
wireless = {{ mktxp_metrics.wireless }}
wireless_clients = {{ mktxp_metrics.wireless_clients }}
capsman = {{ mktxp_metrics.capsman }}
capsman_clients = {{ mktxp_metrics.capsman_clients }}
w60g = {{ mktxp_metrics.w60g }}
eoip = {{ mktxp_metrics.eoip }}
gre = {{ mktxp_metrics.gre }}
ipip = {{ mktxp_metrics.ipip }}
lte = {{ mktxp_metrics.lte }}
ipsec = {{ mktxp_metrics.ipsec }}
switch_port = {{ mktxp_metrics.switch_port }}
kid_control_assigned = {{ mktxp_metrics.kid_control_assigned }}
kid_control_dynamic = {{ mktxp_metrics.kid_control_dynamic }}
user = {{ mktxp_metrics.user }}
queue = {{ mktxp_metrics.queue }}
bfd = {{ mktxp_metrics.bfd }}
bgp = {{ mktxp_metrics.bgp }}
routing_stats = {{ mktxp_metrics.routing_stats }}
certificate = {{ mktxp_metrics.certificate }}
container = {{ mktxp_metrics.container }}

{% for host in groups[mktxp_router_group] | sort %}
{% if hostvars[host].device_type | default('') == mktxp_device_type_match %}
[{{ host }}]
hostname = {{ hostvars[host].mktxp_target | default(hostvars[host].ansible_host) }}
{% if hostvars[host].mktxp_extra_labels is defined %}
custom_labels = {{ mktxp_custom_labels_default }},{{ hostvars[host].mktxp_extra_labels }}
{% else %}
custom_labels = {{ mktxp_custom_labels_default }}
{% endif %}
{% if hostvars[host].mktxp_port is defined %}
port = {{ hostvars[host].mktxp_port }}
{% endif %}
{% if hostvars[host].mktxp_enabled is defined %}
enabled = {{ hostvars[host].mktxp_enabled }}
{% endif %}
{% if hostvars[host].mktxp_use_ssl is defined %}
use_ssl = {{ hostvars[host].mktxp_use_ssl }}
{% endif %}
{% if hostvars[host].mktxp_no_ssl_certificate is defined %}
no_ssl_certificate = {{ hostvars[host].mktxp_no_ssl_certificate }}
{% endif %}
{% if hostvars[host].mktxp_plaintext_login is defined %}
plaintext_login = {{ hostvars[host].mktxp_plaintext_login }}
{% endif %}

{% endif %}
{% endfor %}
