{% set fqdn = (ansible_fqdn | default(ansible_hostname)).rstrip('.') %}
{% set host = ansible_hostname %}

root {{ sysalerts_alias_target }}
root@{{ host }} {{ sysalerts_alias_target }}
{% if fqdn != host %}
root@{{ fqdn }} {{ sysalerts_alias_target }}
{% endif %}

awlynn {{ sysalerts_alias_target }}
awlynn@{{ host }} {{ sysalerts_alias_target }}
{% if fqdn != host %}
awlynn@{{ fqdn }} {{ sysalerts_alias_target }}
{% endif %}
